html {
    overflow-x: hidden;
}

html {
    background: #121212;
    color: #bbb;
}

article {
    max-width: 860px;
    margin: 0 auto;
    line-height: 1.7;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

figure.large-block {
    width: 1180px;
    margin: 0 0 1rem -160px;
    text-align: center;
}

img {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    max-width: 100%;
    cursor: zoom-in;
}

.float-block {
    float: left;
    margin: 10px;
}
