.zoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 90000;
    cursor: zoom-out;
}

.zoom > .zoom__img {
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    cursor: zoom-out;
}

.zoom.zoom--removing > img {
    z-index: 1;
}

.zoom__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #121212;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: zoom-out;
}

.zoom__bg.zoom__bg--reveal {
    opacity: 0.95;
}
