.zoom-img,
.zoom-bg {
    z-index: 90000;
    cursor: zoom-out;
}

.zoom-img {
    position: absolute;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.zoom-img.zoom--removing > img {
    z-index: 1;
}

.zoom-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #121212;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.zoom-bg.zoom-bg--reveal {
    opacity: 0.95;
}

.zoom-original--hidden {
    visibility: hidden;
}
